
.container {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#main{
  margin-top: 125px;
  background-color: #402300;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");

}