.container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: transparent;
}

#main{
  margin: 9em 1em;
}

@media screen and (max-width:768px) {
  #main{
    margin: 3em 1em;
  }
}