nav {
  position: absolute;
  top:0;
  left:0;
  height: 120px;
  width: 100%; 
  width: 100vw;
  background-color: #062280;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #ffff;
  z-index:1;
  padding: 0px 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 10px rgb(65,36,0, 0.6),  0 0 15px 25px rgb(65,36,0, 0.25);
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.arrow {
  color: red;
  position:relative;
  animation-name: arrow-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.arrow:hover {
  cursor: pointer;
}

.logo {
  font-family: Bungee, sans-serif;
  font-size: 64px;
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sub-logo {
  font-size:16px;
  color: red;
}


#main-logo {
  max-width: 30%;
  min-width: 20%;
  height: auto;
  margin: 1em 1em 2em 0;
}

.image {
  display: flex;
  align-items: center;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
}

.arrow:hover {
  color: yellow;
}

@keyframes arrow-down{
  0% {
    color: red;
    top: 0em;
    transform: scale(1);
  }
  50% {
    color: orange;
    top: 0.5em;
    transform: scale(1.2);
  }
  100% {
    color: red;
    top: 0em;
  }
}