/* Style for the headar nav panel */

nav {
  position: absolute;
  top:0;
  left:0;
  height: 10vh;
  width: 100%;
  background-color: #062280;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #ffff;
  z-index:1;
  padding: 0em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1em 2em rgb(65,36,0, 0.6);
  min-height: 70px;
}

/* ----Styling for the right side of a navigation bar---- */

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-width: 150px;
}

nav span {
  font-size: 2em;
}

/* ----End of Styling for the right side of a navigation bar---- */
/* ----Styling for left side of nav bar ---- */
.nav-wrap {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: auto;
  max-width: 20vw;
}

.logo {
  font-family: Bungee, sans-serif;
  font-size: 3em;
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
}

#main-logo {
  width: 5em;
  height: auto;
  margin: 1em 3em 2em 0;
}

.image {
  display: flex;
  align-items: center;
}

/* ---- End of Styling for left side of nav bar ---- */
/* ---- Styling for arrow in the nav bar and its animation ----  */

.arrow {
  color: red;
  position:relative;
  animation-name: arrow-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.arrow:hover {
  cursor: pointer;
}

.arrow:hover {
  color: yellow;
}

    /* Animation for arrow */
@keyframes arrow-down{
  0% {
    color: red;
    top: 0em;
    transform: scale(1);
  }
  50% {
    color: orange;
    top: 0.5em;
    transform: scale(1.2);
  }
  100% {
    color: red;
    top: 0em;
  }
}

/* ----End of Styling for arrow and its animation ----  */