nav {
  height: 120px;
  width: 100%; 
  width: 100vw;
  /* background-color: #4056A1; */
  background-color: #062280;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #ffff;
  z-index:1;
  padding: 0px 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.arrow {
  color: red;
}

.logo {
  font-family: Bungee, sans-serif;
  font-size: 64px;
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sub-logo {
  font-size:16px;
  color: red;
}


#main-logo {
  max-width: 30%;
  height: auto;
  margin: 1em 1em 2em 0;
}

.image {
  display: flex;
  align-items: center;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
}