.tweet-container{
  background-color: #062280;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
}

.tweet-button{
  background-color: orange;
  font-family: Bungee, sans-serif;
  color: whitesmoke;
  margin: 10px 0px;
}

.tweet-button:hover{
  background-color:rgb(233, 194, 122);
  font-family: Bungee, sans-serif;
}

#tweet-text {
  background-color: #9ba0eb;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  align-self: center;
  resize: none;
  width: 90%;
  max-width: 100%;
  margin: 1em 0px 0px 0px;
  padding: 0 0 5px 0;
  color: white;
  font-family: Bungee, sans-serif;
}

#tweet-form {
  width: 100%;
}

.control {
  margin:auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#text {
  font-family: Bungee, sans-serif;
  color: azure;
  align-self: center;
}

.divider {
  width: 90%;
  height: 0.2em;
  background-color: azure;
  margin: 0 auto;
}

::placeholder { 
  color: white;
  opacity: 1; /* Firefox */
}