.tweet-container{
  background-color: #062280;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  padding: 1em 0 0 0;
  border-radius: 0.3em;
  box-shadow: 0 0 5px 10px rgb(65,36,0, 0.6),  0 0 15px 25px rgb(65,36,0, 0.25);
}

.tweet-button{
  background-color: orange;
  font-family: Bungee, sans-serif;
  color: whitesmoke;
  margin: 0.4em 0px;
}

.tweet-button:hover{
  background-color:rgb(233, 194, 122);
  font-family: Bungee, sans-serif;
}

#tweet-text {
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  align-self: center;
  resize: none;
  width: 90%;
  max-width: 100%;
  margin: 1em 0px 0px 0px;
  color: white;
  font-family: Bungee, sans-serif;
  padding: 0.5em;
  border-radius: 1em;
  outline: none;
}

#tweet-text:hover {
  box-shadow: 0px 0px 0.4em 0.8em rgb(255, 253, 253, 0.15), 0 0 0.2em 0.2em rgba(252, 252, 252, 0.35);
}

#tweet-form {
  width: 100%;
  display:none;
}

.control {
  margin:auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#text {
  font-family: Bungee, sans-serif;
  color: azure;
  align-self: center;
}

.divider {
  width: 90%;
  height: 0.2em;
  background-color: azure;
  margin: 0 auto;
}
.error {
  margin: -0.2em auto auto auto;
  display: none;
}

#error-message {
  width: 90%;
  height: auto;
  background-color: white;
  margin: 0px 5% 0.2em 5%;
  box-shadow: 12px 12px 20px rgb(255, 253, 253, 0.15), 0 6px 6px rgba(252, 252, 252, 0.35);
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow-box {
  width: 90%; 
  margin: auto 5%
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid  red;
  margin: auto,;
}

#error-text {
  margin: auto 2em auto 2em;
  color: Red;
  font-weight: bold;
  padding: 0.05em;
}

.err-icon {
  color:red;
}
::placeholder { 
  color: white;
  opacity: 1; /* Firefox */
}
